
.imgpomodoro{
    width: 360px;
    height: auto;
}

.textpomodoro{
    width: 570px;
    text-align: justify;
}
.h1pomodoro{
    font-size: 36px;
}
h1{
    font-weight: 400;
}



.titlepasso{
    color: #001B48;
}

.etapasconteudo{
    color: #024577;
}

.etapaspomodoro{
    text-align: center;
}

.etapa{
    text-align: left;
    width: 300px;
    height: 270px;
    border-radius: 25px 25px var(--Number, 0px) 25px;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-top: 20px;
}

.etapasconteudo{
    text-align: justify;
}

.etapaspomodoro .etapa {
    display: inline-block;
    margin-right: 65px;
}

.etapaspomodoro .etapa:last-child {
    margin-right: 0;
}


@media screen and (max-width: 1200px) {
    .imgpomodoro {
        width: 300px;
    }

    .textpomodoro {
        width: 450px;
    }

    .h1pomodoro {
        font-size: 24px;
    }

    .etapa{
        width: 355px;
        height: 306px;
        padding: 20px;
    }

    .etapaspomodoro .etapa:nth-last-child(2n){
        margin-right: 0;
    }

}

@media screen and (max-width: 1000px) {
    .imgpomodoro {
        width: 250px;
    }

    .textpomodoro {
        width: 400px;
    }

    .h1pomodoro {
        font-size: 24px;
    }

    .etapa{
        width: 355px;
        height: 306px;
        padding: 20px;
    }

    .etapaspomodoro .etapa{
        margin-right: 0px
    }
}

@media screen and (max-width: 800px) {
    .imgpomodoro {
        width: 350px;
    }

    .col{
        text-align: center;
    }

    .textpomodoro {
        width: 400px;
        margin: auto;
    }

    .h1pomodoro {
        font-size: 24px;
    }

   .etapa{
        width: 355px;
        height: 306px;
        padding: 20px;
    }

    .titlepasso{

    }
    
    .etapasconteudo{
        
    }
}
