{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'pomodoro\css\pomodoro.css' %}">
<script src="{% static 'pomodoro/js/pomodoro.js' %}"></script>
{% endblock %}
<div class="form-container">
    <div class="containeres">
        <div class="pomodoro">Pomodoro</div>
        <div class="descanso">Descanso</div>
    </div>
    <div class="timer" id="timer">25:00</div>
    <div id="counter">1/4</div>
    <button class="iniciar" id="toggleButton">Iniciar</button>
    <audio id="audio" src="{% static 'pomodoro/audio/alarm-clock_0mrZdkcf.mp3' %}" preload="auto"></audio>
</div>

<script>
    var isPomodoro = true;
    var isRunning = false;
    var intervalo;
    var contadorPomodoro = 1;

    function reproduzirAudio() {
        var audio = document.getElementById('audio');
        audio.play();
    }

    function iniciarTemporizador(duracao) {
        var visorTemporizador = document.getElementById('timer');
        var visorContador = document.getElementById('counter');
        var pomodoro = document.querySelector('.pomodoro');
        var descanso = document.querySelector('.descanso');
        var botaoAlternar = document.getElementById('toggleButton');

        var minutos, segundos;

        intervalo = setInterval(function () {
            minutos = parseInt(duracao / 60, 10);
            segundos = parseInt(duracao % 60, 10);

            minutos = minutos < 10 ? "0" + minutos : minutos;
            segundos = segundos < 10 ? "0" + segundos : segundos;

            visorTemporizador.innerHTML = minutos + ":" + segundos;

            if (--duracao < 0) {
                clearInterval(intervalo);
                reproduzirAudio();

                isPomodoro = !isPomodoro;

                pomodoro.style.backgroundColor = isPomodoro ? 'rgba(2, 69, 119, 0.7)' : 'rgba(45, 130, 181, 0.44)';
                descanso.style.backgroundColor = isPomodoro ? 'rgba(45, 130, 181, 0.44)' : 'rgba(2, 69, 119, 0.7)';

                if (isPomodoro) {
                    contadorPomodoro++;

                    if (contadorPomodoro <= 4) {
                        visorContador.innerHTML = contadorPomodoro + "/4";
                        iniciarTemporizador(0.1 * 60);
                    } else {
                        contadorPomodoro = 1;
                        visorContador.innerHTML = '';
                        botaoAlternar.innerHTML = "Reiniciar";
                        visorTemporizador.innerHTML = "25:00";
                    }
                } else {
                    iniciarTemporizador(0.1 * 60);
                }
            }
        }, 1000);
    }

    document.getElementById('toggleButton').addEventListener('click', function () {
        var visorContador = document.getElementById('counter');

        if (isRunning) {
            clearInterval(intervalo);
            isRunning = false;
            this.innerHTML = "Iniciar";
        } else {
            if (isPomodoro) {
                iniciarTemporizador(0.1 * 60);
            } else {
                contadorPomodoro = 1;
                visorContador.innerHTML = '';
                botaoAlternar.innerHTML = "Reiniciar";
            }

            isRunning = true;
            this.innerHTML = "Pausar";
            visorContador.style.display = 'block';
        }
    });
</script>


<style>
    .pomodoro {
        background-color: rgba(2, 69, 119, 0.7);
        transition: background-color 0.5s ease;
    }
</style>
