{% extends 'core/partials/base.html' %}
{% load static %}


{% block linkh%} ativo {% endblock %}


{% block content %}
<div class="m-5">
    <div class="d-flex msgbv">
        <div>
        <h1> E aí, {{user.username}}</h1>
        <p>No dia de hoje, estão disponíveis 4 flashcards para revisão, mas não podemos esquecer dos 5 flashcards
            atrasados.
            Eles estão na beira da curva do esquecimento. Além disso, sua taxa de acerto nas questões é de 60%.</p>
        </div>
        <div>
        <img src="{% static 'core/img/image 3.png' %}" alt=""></div>
    </div>

    <div>
        <div class="fage">
            <h1 class="d-flex justify-content-center">Flashcards Agendados</h1>
        </div>

        <div class="d-flex">
            <div class="fatri">
                <h1>{{todas_revisoes.count}}</h1>
                <p>Atribuídos</p>
            </div>

            <div class="fatri">
                <h1>{{revisoes_pendentes.count}}</h1>
                <p>Pendentes</p>
            </div>
        </div>

<div>
    

</div>
        <div>
            <a href="">Veja mais</a>

            <h1>Próximas Revisões</h1>


            <table>
                <tr>
                    <th>Título</th>
                    <th>Data</th>
                    <th>Tipo</th>
                </tr>
      {% for revisao in todas_revisoes %}
                <tr>
                    <td>{{ revisao.flashcard.titulo }}</td>
                    <td>{{ revisao.data_agendada|date:"d/m/Y" }}</td>
                    <td></td>
                </tr>
      {% endfor %}

            </table>
            <a href="">Começar revisão</a>
        </div>

    </div>


{% endblock %}