{% extends 'core/partials/base.html' %}
{% load static %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
{% endblock %}

{% block linkh %}ativo{% endblock %} 

{% block content %}
<br>
<div class="d-flex mt-3">
    <div class="">
        <div class="d-flex msgbv">
            <div>
                <h1>E aí, {{user.username}}!</h1>
                {% if revisoes_do_dia.count > 0 and revisoes_pendentes.count > 0 %}
                    {% if revisoes_do_dia.count == 1 %}
                        {% if revisoes_pendentes.count == 1 %}
                            <p>No dia de hoje, está disponível 1 flashcard para revisão, mas não se esqueça do flashcard atrasado. Eles estão na beira da curva do esquecimento. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                        {% else %}
                            <p>No dia de hoje, está disponível 1 flashcard para revisão, mas não se esqueça dos {{ revisoes_pendentes.count }} flashcards atrasados. Eles estão na beira da curva do esquecimento. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                        {% endif %}
                    {% else %}
                        {% if revisoes_pendentes.count == 1 %}
                            <p>No dia de hoje, estão disponíveis {{ revisoes_do_dia.count }} flashcards para revisão, mas não podemos esquecer do flashcard atrasado. Ele está na beira da curva do esquecimento. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                        {% else %}
                            <p>No dia de hoje, estão disponíveis {{ revisoes_do_dia.count }} flashcards para revisão, mas não podemos esquecer dos {{ revisoes_pendentes.count }} flashcards atrasados. Eles estão na beira da curva do esquecimento. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                        {% endif %}
                    {% endif %}
                {% elif revisoes_do_dia.count == 0 and revisoes_pendentes.count > 0 %}
                    {% if revisoes_pendentes.count == 1 %}
                        <p>Você possui 1 flashcard atrasado. Ele está na beira da curva do esquecimento. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                    {% else %}
                        <p>Você possui {{ revisoes_pendentes.count }} flashcards atrasados. Eles estão na beira da curva do esquecimento. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                    {% endif %}
                {% elif revisoes_do_dia.count > 0 and revisoes_pendentes.count == 0 %}
                    {% if revisoes_do_dia.count == 1 %}
                        <p>No dia de hoje, está disponível 1 flashcard para revisão. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                    {% else %}
                        <p>No dia de hoje, estão disponíveis {{ revisoes_do_dia.count }} flashcards para revisão. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                    {% endif %}
                {% else %}
                    <p>Não há nenhuma revisão no dia de hoje. Além disso, sua taxa de acerto nas questões é de 60%.</p>
                {% endif %}
            </div>
                        <div>
                <img src="{% static 'core/img/image 3.png' %}" alt="">
            </div>
        </div>

        <div class="d-flex mt-5">
            <div style="width: 290px;">
                {% include 'questoes/partials/grafico.html' %}
            </div>

            <div class="grevisao">
                {% include 'revisao/grafico.html' %}
            </div>
        </div>
    </div>

    <div class="lado2">
        <div class="fage">
            <h1 class="d-flex justify-content-center">Flashcards Agendados</h1>
        </div>

        <div class="d-flex" style="width: 440px; margin: auto;">
            <div class="fatri">
                <h1>{{todas_revisoes.count}}</h1>
                <p>Atribuídos</p>
            </div>

            <div class="fatri">
                <h1>{{revisoes_pendentes.count}}</h1>
                <p>Pendentes</p>
            </div>
        </div>



        <div class="tabelare">
            <div class="d-flex p-3">
                <h3 style="margin: auto;">Próximas Revisões</h3>
                <a class="lta" href="{% url 'calendario' %}">Veja mais &#8594;</a>
            </div>

            {% if revisao %}

            <table class="table table-borderless">
                <tr class="ftr">
                    <th class="fth">Título</th>
                    <th class="fth">Data</th>
                </tr>


                {% for revisao in revisoes_pendentes|slice:":5" %}
                <tr class="ftr">
                    <td class="ftd"><a
                            href="{% url 'detalhes_flashcard' id=revisao.flashcard.id %}">{{revisao.flashcard.titulo}}</a>
                    </td>
                    <td class="ftd" id="pendentes">{{ revisao.data_agendada|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}


                {% for revisao in revisoes_do_dia|slice:":5" %}
                <tr class="ftr">
                    <td class="ftd"> <a
                            href="{% url 'detalhes_flashcard' id=revisao.flashcard.id %}">{{revisao.flashcard.titulo}}</a>
                    </td>
                    <td class="ftd" id="atribuídas">{{ revisao.data_agendada|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}

            </table>


            <div class="bcomecarev">
                <a href="{% url 'detalhes_flashcard' id=revisao.flashcard.id %}">Começar revisão</a>
            </div>



            {% else %}
            <div class="nhra">
                <p>Não há revisões agendadas</p>
            </div>
            {% endif %}


        </div>
    </div>
    <br>


    {% endblock %}