{% extends 'core/partials/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding: 50px;">
<div class="row bg-white d-flex align-items-center " style="min-width: 800px; padding: 30px;">
        <div class="col">
            <img class="imgperfil" src="{{ user.profile.image.url }}" alt="{{ user.username }}">
        </div>
    
        <div class="col m-auto infos" id="infosSection">
            <p class="fw-semibold m-0"> Nome:</p>
            <p class="fw-lighter"> {{user.username}}</p>
    
            <p class="fw-semibold m-0"> Email:</p>
            <p class="fw-lighter"> {{user.profile.email}}</p>
    
            <p class="fw-semibold m-0"> Endereço:</p>
            <p class="fw-lighter">{{user.profile.endereco}}</p>
    
            <p class="fw-semibold m-0"> Telefone:</p>
            <p class="fw-lighter">{{user.profile.telefone}}</p>
            <a class="btn btn-outline-secondary" href="#"> <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"> <path fill="#4e4e50" d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /> </svg> Editar Perfil</a>
        </div>
        
        <div class="forms col m-auto  sumir" id="formsSection">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_email">Email:  </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="email" name="email" maxlength="254"
                               value="{{user.profile.email}}" required="" id="id_email">
                    </div>
                </div>
    
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_endereco">Endereço:  </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="endereco" maxlength="200"
                               required="" id="id_endereco" value="{{user.profile.endereco}}">
                    </div>
                </div>
    
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_telefone">Telefone:  </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="telefone" maxlength="11"
                               required="" id="id_telefone" value="{{user.profile.telefone}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="id_image">Foto:  </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" name="image" accept="image/*"
                               id="id_image">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>
        </div>
    </div>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const infos = document.querySelector('.infos');
            const form = document.querySelector('form');
    
            infos.addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('infosSection').classList.add('sumir');
                document.getElementById('formsSection').classList.remove('sumir');
            });
    
            form.addEventListener('submit', function () {
                document.getElementById('infosSection').classList.remove('sumir');
                document.getElementById('formsSection').classList.add('sumir');
            });
        });
    </script>

{% endblock %}