.linhaassunto {

    background: rgba(2, 69, 119, 0.05);
}

.likconteudo {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 3px solid #F2F2F2;
    width: 600px;
    margin-top: 20px;
}

.likconteudo:hover {
    transition: color 0.3s ease;
    color: #02447790;
}

.assuntonome {
    color: #024577;
    font-size: 25px;
}

p {
    text-align: justify;
}

.bmateriais{
    border: 1px solid #024577;
    background-color: #024577;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    display: flex;    
    align-items: center;
    margin: auto;
}

.bmateriais a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.bmateriais:hover{
    transition: 1s;
    background-color: #024477e3;
}

.texto{
    max-width: 90%;
}