{% extends 'base.html' %}
{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'questoes\css\estatisticas.css' %}">
<script src="{% static 'questoes/js/questoes.js' %}"></script>
{% endblock %}

{% block content %}

        <h1 class="estudo-questoes">Estudo por questões</h1>
        <br>
        <br>
        <h3 class="desempenho">Desempenho Geral</h3>

        <br>
        <br>
        <div class="dados">
            <div class="grafico">
                {% include 'questoes/partials/grafico.html' %}
            </div>
                {% include 'questoes/partials/valores.html' %}
        </div>          
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>Disciplinas</h3>
        {% include 'questoes/partials/valores_disciplinas.html' %}
        <br>
        <br>
        <br>
        <br>
        
    <br>
    
{% endblock %}