{% extends "core/partials/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'questoes/css/estatisticas.css' %}">
<script src="{% static 'questoes/js/questoes.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>



{% endblock %}
{% block linkq %} ativo {% endblock %}

{% block content %}

    <br>
    <br>
    <br>

    <h1 class="d-flex justify-content-center subtitulo-desempenho">Desempenho Geral</h1>
    <br>

    <br>
    <br>
    <div class="dados d-flex justify-content-center align-items-center">
        <div class="grafico">
            {% include 'questoes/partials/grafico.html' %}
        </div>
        <div class="valores">
            <div class="estatisticas-gerais">
                <div class="row">
                    <div class="num-acertos">
                        <p class="font-dados">{{ dados_usuario.acertos }}<br>Certas</p>
                    </div>
                    <div class="num-erradas">
                        <p class="font-dados">{{ dados_usuario.erros }} <br>Erradas</p>
                    </div>
                </div>
                <div class="row">
                    <div class="taxa-acerto">
                        <p class="font-dados">{{ dados_usuario.taxa_acerto }}% <br>Taxa de acerto</p>
                    </div>
                    <div class="num-questoes">
                        <p class="font-dados">{{ dados_usuario.num_questoes }} <br>Nº de questões</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <h1 class="d-flex justify-content-center subtitulo-disciplina">Desempenho por Disciplinas</h1>
    <br>
    <br>
    <div class="dados d-flex justify-content-center align-items-center disciplinas">
        <table>
            <tr class="title-table">
                <th class="item">Disciplina</th>
                <th class="item">Nº de Questões</th>
                <th class="item">Corretas</th>
                <th class="item">Incorretas</th>
                <th class="item">Taxa de acerto</th>
            </tr>
            {% for dados_disciplina in dados_disciplinas %}
                <tr class="valores-table">
                    <td class="item-1">{{ dados_disciplina.disciplina.nome }}</td>
                    <td class="item">{{ dados_disciplina.num_questoes_respondidas }}</td>
                    <td class="item">{{ dados_disciplina.acertos }}</td>
                    <td class="item">{{ dados_disciplina.erros }}</td>
                    <td class="item">{{ dados_disciplina.taxa_acerto }}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <br>
    <br>
    <div class="d-flex justify-content-center">
        {% include 'questoes/partials/botao.html' %}
    </div>

    <br>
    <br>
    <br>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
