{% extends 'base.html' %}
{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'questoes\css\indexquestoes.css' %}">
<link rel="stylesheet" href="{% static 'questoes\css\estatisticas.css' %}">

<script src="{% static 'questoes/js/questoes.js' %}"></script>
{% endblock %}
{% block title%} Estudo por Questões {% endblock %}


{% block content %}

<br>
<br>
<br>
<div class="d-flex justify-content-center">

    <div class="mt-5 row align-items-center ">

        <div class="col">
            <h1 class="h1questoes">Estudo por Questões</h1>
            <p class="textquestoes">A técnica de estudo por questões é uma abordagem eficaz para a fixação e aprendizagem de conteúdos, pois estimula a aplicação prática do conhecimento. Ao resolver questões relacionadas ao material estudado, os alunos são desafiados a recordar informações de forma ativa, promovendo uma compreensão mais profunda. Em resumo, a prática regular dessa técnica proporciona um método para aprimorar a memorização e a compreensão de diversos assuntos. </p>
        </div>

        <div class="col">
            <img class="imgquestoes" src="{% static 'questoes\img\Shrug-bro (1).svg' %}" alt="">
        </div>
    </div>

</div>

<br>
<br>

<h1 class="d-flex justify-content-center mt-5 geral">Acompanhe o seu progresso geral</h1>
<br>
<br>
<div class="d-flex justify-content-center mbsr">
    {% include 'questoes/partials/estatisticas.html' %}
</div>
<h4 class="d-flex justify-content-center mt-5">(valores ilustrativos)</h4>

<br>
<br>
<h1 class="d-flex justify-content-center mt-5 disciplina">Progresso de cada disciplina</h1>
<br>
<div class="d-flex justify-content-center">
    {% include 'questoes/partials/valores_disciplinas.html' %}
</div>
<h4 class="d-flex justify-content-center mt-5">(valores ilustrativos)</h4>

<div class="d-flex justify-content-center">
    {% include 'questoes/partials/botao.html' %}
</div>
<br>
<br>

{% endblock %}