<!DOCTYPE html>
<html>
<head>
    <title>Pomodoro Timer</title>
    <style>
        body{
            width: 1440px;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>Pomodoro</h1>
   
   
    <div class="form-container">


        <div id="timer">25:00</div>
        <div id="counter">1/4</div>
        <form method="post">
            {% csrf_token %}
           
        </form>
    </div>


   
    <div id="counter" style="display: none;">1/4</div>
    <button id="toggleButton">Iniciar</button>


    <script>
        var isPomodoro = true;
        var isRunning = false;  // Variável para controlar se o temporizador está em execução
        var interval;  // Variável para armazenar o intervalo do temporizador
        var pomodoroCount = 1; // Contador de Pomodoros


        function startTimer(duration) {
            var timerDisplay = document.getElementById('timer');
            var counterDisplay = document.getElementById('counter');
            var minutes, seconds;


            interval = setInterval(function () {
                minutes = parseInt(duration / 60, 10);
                seconds = parseInt(duration % 60, 10);


                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;


                timerDisplay.innerHTML = minutes + ":" + seconds;


                if (--duration < 0) {
                    clearInterval(interval);


                    isPomodoro = !isPomodoro;
                    if (isPomodoro) {
                        pomodoroCount++;
                        counterDisplay.innerHTML = pomodoroCount + "/4"; // Atualiza o contador
                        startTimer(25 * 60);
                    } else {
                        startTimer(5 * 60);
                    }
                }
            }, 1000);
        }


        document.getElementById('toggleButton').addEventListener('click', function () {
            var counterDisplay = document.getElementById('counter');
           
            if (isRunning) {
                clearInterval(interval);
                isRunning = false;
                this.innerHTML = "Iniciar"; // Muda o rótulo do botão para "Iniciar"
            } else {
                startTimer(25 * 60);
                isRunning = true;
                this.innerHTML = "Pausar"; // Muda o rótulo do botão para "Pausar"
                counterDisplay.style.display = 'block'; // Mostra o contador
            }
        });
    </script>
</body>
</html>