<div class="container">
  <canvas id="myDoughnutChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block script %}

<script>
  const ctxq = document.getElementById('myDoughnutChart').getContext('2d');

  function inicializarGrafico() {
  const dataq = JSON.parse('{{ serialized_dataq|safe|escapejs }}');

  const labels = (dataq.grafico && dataq.grafico.length === 2) ? ['Questões Certas', 'Questões Erradas'] : ['Questões Certas', 'Questões Erradas', '0 Questões respondidas'];

  const data = {
    labels: labels,
    datasets: [{
      data: dataq.grafico || [],
      backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)', 'rgb(169, 169, 169)'],
      hoverOffset: 4
    }],
  };

  const config = {
    type: 'doughnut',
    data: data,
  };

  window.myDoughnutChart = new Chart(ctxq, config);
}


  document.addEventListener('DOMContentLoaded', inicializarGrafico);
</script>


{% endblock %}