<div class="container">
  <canvas id="myDoughnutChart"></canvas>
</div>

<!-- Inclua a biblioteca Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block script %}

<script>
  const ctxq = document.getElementById('myDoughnutChart').getContext('2d');
  var dateq = JSON.parse('{{ serialized_dataq|safe|escapejs }}');

  function inicializarGrafico() {
    const data = {
      labels: ['Questões Certas', 'Questões Erradas'],
      datasets: [{
        data: dateq.grafico,
        backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'],
        hoverOffset: 4
      }],
    };

    const config = {
      type: 'doughnut',
      data: data,
    };

    window.myDoughnutChart = new Chart(ctxq, config);
  }

  document.addEventListener('DOMContentLoaded', inicializarGrafico);

</script>




{% endblock %}