<div class="questao">
    {% for questao in questoes %}
    <form method="post" action="{% url 'verificar_resposta' %}">
        {% csrf_token %}
        <div class="container-azul">
            <div class="instituicao_ano">
                <strong>{{ questao.disciplina}} - {{questao.assunto}}</strong>
            </div>
            <div class="central">
                <div class="container-branco">
                    <li class="questao_texto">
                        <strong>{{ questao.instituicao_ano }}</strong> - {{ questao.texto }}
                    </li>
                    <li class="questao_enunciado">{{ questao.enunciado }}</li>
                    <input type="hidden" name="questao{{ questao.id }}" value="{{ questao.id }}">
                    <ul class="alternativas-container">
                        {% for alternativa in questao.alternativas.all %}
                        <li id="alternativa" {% if alternativa.correta %} class="alternativacorreta" {% endif %}>
                            <input type="radio" id="alternativa{{ alternativa.id }}" name="questao_{{ questao.id }}"
                                value="{{ alternativa.id }}">
                            <label for="alternativa{{ alternativa.id }}">{{ alternativa.texto }}</label><br>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="responder">
                <input class="btn-responder" type="submit" value="Responder">
            </div>




        </div>

    </form>
    {% endfor %}

</div>


<script>
// Seleciona todos os formulários na página
const forms = document.querySelectorAll('form');

forms.forEach(function(form) {
    // Adiciona um manipulador de eventos 'submit' a cada formulário
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Evita o envio do formulário para testar o código

        const respostasMarcadas = this.querySelectorAll('input[type="radio"]:checked');

        respostasMarcadas.forEach(function(resposta) {
            const alternativaContainer = resposta.closest('li');
            
            const alternativaCorreta = alternativaContainer.classList.contains('alternativacorreta');

            if (alternativaCorreta && resposta.checked) {
                alternativaContainer.classList.add('verde'); // Marca a resposta correta como verde
            } else if (!alternativaCorreta && resposta.checked) {
                const respostaCorreta = alternativaContainer.parentNode.querySelector('.alternativacorreta');
                respostaCorreta.classList.add('verde'); // Marca a resposta correta como verde
                alternativaContainer.classList.add('vermelho'); // Marca a resposta incorreta como vermelha
            }
        });

        var url = this.action;
        var formData = new FormData(this);
        var ajax = new XMLHttpRequest();
        ajax.open("POST", url, true);
        ajax.onload = function() {
            if (ajax.status == 200) {
                var res = JSON.parse(ajax.responseText);
                alert(res);
            } else {
                alert('Algo falhou...');
            }
        };
        ajax.send(formData);
    });
});

</script>