<div class="estatisticas-gerais">
    <div class="row">
        <div class="num-acertos">
            <p class="font-dados">2<br>Certas</p>
        </div>
        <div class="num-erradas">
            <p class="font-dados">3<br>Erradas</p>
        </div>
    </div>
    <div class="row">
        <div class="taxa-acerto">
            <p class="font-dados">40% <br>Taxa de acerto</p>
        </div>
        <div class="num-questoes">
            <p class="font-dados">5 <br>Nº de questões</p>
        </div>
    </div>
</div>


