<table>
    <tr class="title-table">
        <th class="item">Disciplina</th>
        <th class="item">Nº de Questões</th>
        <th class="item">Taxa de acerto</th>
    </tr>
    <tr class="valores-table">
        <td class="item-1">Biologia</td>
        <td class="item">0</td>
        <td class="item">0%</td>
    </tr>
    <tr class="valores-table">
        <td class="item-1">Língua Portuguesa</td>
        <td class="item">0</td>
        <td class="item">0%</td>
    </tr>
</table>