<table>
    <tr class="title-table">
        <th class="item">Disciplina</th>
        <th class="item">Nº de Questões</th>
        <th class="item">Corretas</th>
        <th class="item">Incorretas</th>
    </tr>
    {% for disciplina_data in dados_disciplinas %}
    <tr class="valores-table">
        <td class="item-1">{{ disciplina_data.disciplina_nome }}</td>
        <td class="item">
            {% with total_questoes=disciplina_data.questoes_certas|add:disciplina_data.questoes_erradas %}
                {{ total_questoes }}
            {% endwith %}
        </td>
        <td class="item">{{ disciplina_data.questoes_certas }}</td>
        <td class="item">{{ disciplina_data.questoes_erradas }}</td>
    </tr>
    {% endfor %}
</table>