<div class="estatisticas">
    <div class="row">
        <div class="num-acertos">
            <h2>{{ questoes_certas }} <br> certas</h2>            
        </div>
        <div class="num-erradas">
            <h2>{{ questoes_erradas }} <br>Erradas</h2>
        </div>
    </div>
    <div class="row">
        <div class="taxa-acerto">
            <h2>{{ taxa_acerto }}% <br>Taxa de acerto</h2>
        </div>
        <div class="num-questoes">
            <h2>{{ num_questoes }} <br>Nº de questoes</h2>
        </div>
    </div>
</div>
