
.estudo-questoes {
    text-align: center;
}

.grafico {
    width: 400px;
    height: 376px;
    margin-right: 100px;
    
}

.dados{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.num-acertos,
.num-erradas,
.taxa-acerto,
.num-questoes {
    width: 250px;
    height: 107px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.num-acertos {
    background: rgba(10, 129, 0, 0.50);
    margin: 0px 35px 30px 0px;
}

.num-erradas {
    background: rgba(255, 0, 0, 0.50);
    margin: 0px 0px 30px 0px;
}

.taxa-acerto {
    background: #FFF;
    margin: 0px 35px 0px 0px;
}

.num-questoes{
    background: #FFF;
}

.desempenho, .disciplinas {
    margin-left: 50px;
}
.desempenho{
    margin-right: 500px;
}

/* Estilo da accordion-item */
.borda{    
    width: 500px;
    margin: 20px;
    border-radius: 50px 50px 0px 50px !important;
    height: auto;
    padding: 20px;
    width: 470px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.accordion-item {
    position: relative; /* Adicione posição relativa para alinhar a linha */
    border: none;
}

.accordion-button {
    border: none !important;
    height: 20px;
    width: 400px;
    z-index: 0;
    background-color: transparent; /* Defina o botão como transparente */
    font-size: 20px;
}

.accordion-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px; /* Largura da linha */
    background-color: #d6e8ee; /* Cor quando fechado */
    z-index: 1;
    transition: background-color 0.3s ease; /* Transição suave da cor */
}

/* Estilo da linha à esquerda quando .open está presente */
.accordion-item.open::before {
    background-color: #001b48; /* Cor quando aberto */
}

/* Estilo da linha à esquerda quando fechado */
.accordion-item:not(.open)::before {
    background-color: #d6e8ee; /* Cor quando fechado */
}

/* Estilo do botão do acordeão */
.accordion-button:focus,
.accordion-button:hover,
.accordion-button:not(.collapsed) {
    border: none; /* Remova a borda */
    outline: none; /* Remova o contorno */
    box-shadow: none; /* Remova a sombra */
    background-color: transparent;
    /* Defina outras propriedades personalizadas, se necessário */
}

.accordion-button::after {
    width: 0;
}

#responder-questoes{
    border-radius: 100px;
    border: 5px solid #001B48;
    background: rgba(217, 217, 217, 0);
    width: 210px;
    height: 50px;
    margin: auto;
}
.responder-questoes a,  #responder-questoes a{
    margin: auto;
    text-decoration: none;
    color: #001B48;
    font-size: 20px;
}



.title-table{
    border-radius: var(--Number, 0px);
    background: rgba(2, 69, 119, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item{
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 20px;
}

.item-1{
    padding: 10px 20px 10px 20px;
    text-align: justify;
    font-size: 20px;
}

.valores-table{
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

table, tr, th, td{
    border: solid 1px;
}