.imgquestoes{
    width: 360px;
    height: auto;
}

.textquestoes{
    width: 570px;
    text-align: justify;
}
.h1questoes{
    font-size: 36px;
}
h1{
    font-weight: 400;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.borda{    
    width: 500px;
    margin: 20px;
    border-radius: 50px 50px 0px 50px !important;
    height: auto;
    padding: 20px;
    width: 470px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    
}
.accordion-item {
    position: relative;
    border: none;
}

.accordion-button {
    border: none !important;
    height: 20px;
    width: 400px;
    z-index: 0;
    background-color: transparent;
    font-size: 20px;
}

.accordion-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: #d6e8ee; 
    z-index: 1;
    transition: background-color 0.3s ease; 
}

.accordion-item.open::before {
    background-color: #001b48; 
}

.accordion-item:not(.open)::before {
    background-color: #d6e8ee; 
}


.accordion-button:focus,
.accordion-button:hover,
.accordion-button:not(.collapsed) {
    border: none; 
    outline: none; 
    box-shadow: none; 
    background-color: transparent;
}

.accordion-button::after {
    width: 0;
}


button{
    border-radius: 100px;
    border: 5px solid #001B48;
    background: rgba(217, 217, 217, 0);
    width: 300px;
    height: 50px;
    margin: auto;
    display:block;
}
.responder-questoes button{
    margin: auto;
    text-decoration: none;
    color: #001B48;
    font-size: 20px;
}

.responder-questoes{
    text-align: center;
}



@media screen and (max-width: 1200px) {
    .imgquestoes {
        width: 300px;
    }

    .textquestoes {
        width: 450px;
    }

    .h1questoes {
        font-size: 24px;
    }

    .etapa{
        width: 355px;
        height: 306px;
        padding: 20px;
    }

    .etapaspomodoro .etapa:nth-last-child(2n){
        margin-right: 0;
    }

}

@media screen and (max-width: 1000px) {
    .imgquestoes {
        width: 250px;
    }

    .textquestoes {
        width: 400px;
    }

    .h1questoes {
        font-size: 24px;
    }

    .etapa{
        width: 355px;
        height: 306px;
        padding: 20px;
    }

    .etapaspomodoro .etapa{
        margin-right: 0px
    }
}

@media screen and (max-width: 800px) {
    .imgquestoes {
        width: 350px;
    }

    .col{
        text-align: center;
    }

    .textquestoes {
        width: 400px;
        margin: auto;
    }

    .h1questoes {
        font-size: 24px;
    }

   .etapa{
        width: 355px;
        height: 306px;
        padding: 20px;
    }

    .mbsr {
        flex-direction: column-reverse;
    }


    .titlepasso{

    }
    
    .etapasconteudo{
        
    }
}

@media screen and (max-width: 450px) {
    .imgquestoes {
        width: 250px;
    }

    .col{
        text-align: center;
    }

    .textquestoes {
        width: 280px;
        margin: auto;
    }

    .geral, .disciplina{
        font-size: 20px;
    }

    .h1questoes {
        font-size: 24px;
    }

   .etapa{
        width: 355px;
        height: 306px;
        padding: 20px;
    }

    .titlepasso{

    }
    
    .etapasconteudo{
        
    }
}
.alternativa-correta {
    color: green; 
}