.imgquestoes{
    width: 360px;
    height: auto;
}

.textquestoes{
    width: 570px;
    text-align: justify;
}
.h1questoes{
    font-size: 36px;
}
h1{
    font-weight: 400;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.borda{    
    width: 500px;
    margin: 20px;
    border-radius: 50px 50px 0px 50px !important;
    height: auto;
    padding: 20px;
    width: 470px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    
}


button{
    border-radius: 100px;
    border: 5px solid #001B48;
    background: rgba(217, 217, 217, 0);
    margin: auto;
    display:block;
}
.responder-questoes button{
    margin: auto;
    text-decoration: none;
    color: #001B48;
    font-size: 20px;
}

.responder-questoes{
    text-align: center;
}



@media screen and (max-width: 1200px) {
    .imgquestoes {
        width: 300px;
    }

    .textquestoes {
        width: 450px;
    }

    .h1questoes {
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .imgquestoes {
        width: 250px;
    }

    .textquestoes {
        width: 400px;
    }

    .h1questoes {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .imgquestoes {
        width: 350px;
    }

    .col{
        text-align: center;
    }

    .textquestoes {
        width: 400px;
        margin: auto;
    }

    .h1questoes {
        font-size: 24px;
    }

    .mbsr {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 450px) {
    .imgquestoes {
        width: 250px;
    }

    .col{
        text-align: center;
    }

    .textquestoes {
        width: 280px;
        margin: auto;
    }

    .geral, .disciplina{
        font-size: 20px;
    }

    .h1questoes {
        font-size: 24px;
    }
}
.alternativa-correta {
    color: green; 
}