.main{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    align-items: flex-start;
}


.container-azul{
    background: rgba(45, 130, 181, 0.30);
    width: 950px;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.central{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-branco{
    background: #ffffff;
    width: 900px;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.container-filtro {
    text-align: center;
    width: 230px;
    height: 350px;
    background: rgb(217, 217, 217, 0.48);
    border-radius: 50px;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 25px;
    z-index: 1000;
}

#alternativa{
    background: rgb(45, 130, 181, 0.30);
    border-radius: 20px;
    max-width: 900px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    display: block;
    text-align: justify;
    padding: 10px; 
    height: auto;
    display: flex;
    align-items: center;
}

#alternativa label {
    margin-left: 5px; 
}


label {
    display: inline-block;
}

.btn-outline-primary{
    text-align: justify;
    width: calc(100% - 100px)
}

.instituicao_ano{
    text-align: center;
    
}

.title-questoes{
    text-align: center;
    padding: 20px;
}

.questao_texto{
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul{
    list-style: none;
}

.id_questao{
    text-decoration: none;
    color: black;
}

.questao{
    list-style-type: none;
}

.questao_enunciado{
    margin-bottom: 15px;
    text-align: justify;
}


.form-select{
    border-radius: 50px;
    width: 190px;
    padding: 10px;
}

.filtros-font{
    font-size: 25px;
}

.visually-hidden{
    text-align:justify;
}

.dados {
    display: flex;
    justify-content: center;
}

.filtro{
    text-align: center;
    font-size: 25px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.borda{    
    width: 500px;
    margin: 20px;
    border-radius: 50px 50px 0px 50px !important;
    height: auto;
    padding: 20px;
    width: 470px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    
}

button{
    border-radius: 100px;
    border: 5px solid #001B48;
    background: rgba(217, 217, 217, 0);
    width: 150px;
    height: 50px;
    margin: auto;
    display:block;
}

.btn-responder{
    border-radius: 100px;
    border: 5px solid #001B48;
    background: rgba(217, 217, 217, 0);
    width: 150px;
    height: 50px;
    margin: auto;
    display:block;
}
.responder input{
    margin: auto;
    text-decoration: none;
    color: #001B48;
    font-size: 20px;
}

.responder{
    text-align: center;
}


.filtrar button{
    text-decoration: none;
    color: #001B48;
    font-size: 20px;
}

.filtrar{
    text-align: center;
}

.filtro-nome{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.selecionada {
    background-color: #ff0000; 
    color: #ffffff;
}

.correta {
    background-color: #00ff00;
    color: #ffffff; 
}

.linhaassunto {
    background: rgba(2, 69, 119, 0.05);
}

.likconteudo {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 3px solid #F2F2F2;
    width: 600px;
    margin-top: 20px;
}

.likconteudo:hover {
    transition: color 0.3s ease;
    color: #02447790;
}

.assuntonome {
    color: #024577;
    font-size: 25px;
}

p {
    text-align: justify;
}

.bquestoes{
    border: 1px solid #024577;
    background-color: #024577;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    display: flex;    
    align-items: center;
    margin: auto;
}

.bquestoes a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.bquestoes:hover{
    transition: 1s;
    background-color: #024477e3;
}

.verde {
    color: green;
}

.vermelho{
    color: red;
}

.alternativas-container{
    padding-left: 0%;
}


@media (max-width: 1400px) {
    .container-azul{
        width: 800px;
    }

    .container-branco{
        width: 750px;
    }
    
    .container-filtro {
        width: 230px;
        height: 350px;
    }
    
    
    #alternativa{
        width: 710px;
    }

    .alternativas-container{
        padding-left: 0%;
    }
}

@media (max-width: 1200px) {
    .container-azul{
        width: 650px;
    }

    .container-branco{
        width: 630px;
    }
    
    .container-filtro {
        width: 200px;
        height: 340px;
    }
    
    #alternativa{
        width: 580px;
    }
    

    .form-select{
        border-radius: 50px;
        width: 160px;
        padding: 10px;
    }

    button{
        width: 130px;
        height: 50px;
    }
    
    .alternativas-container{
        padding-left: 0%;
    }
    
}

@media (max-width: 1000px) {
    .container-azul{
        width: 650px;
    }

    .container-branco{
        width: 630px;
    }
    
    #alternativa{
        width: 570px;
    }
    

    .form-select{
        border-radius: 50px;
        width: 610px;
        padding: 10px;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .questao {
        order: 1;
    }

    .filtro {
        order: -1;
    }

    .container-filtro {
        width: 650px;
        height: 330px;
        margin-left: 0px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        position: relative;
        margin-bottom: 40px;
    }
    
    .alternativas-container{
        padding-left: 0%;
    }
}

@media (max-width: 800px) {
    .container-azul{
        width: 580px;
    }
    .container-branco{
        width: 580px;
    }
    #alternativa{
        width: 500px;
    }
    .form-select{
        border-radius: 50px;
        width: 540px;
    }
    .container-filtro {
        width: 580px;
        height: 330px;
    }
}

@media (max-width: 700px) {
    .container-azul{
        width: 500px;
    }
    .container-branco{
        width: 500px;
    }
    #alternativa{
        width: 420px;
    }
    .form-select{
        border-radius: 50px;
        width: 460px;
    }
    .container-filtro {
        width: 500px;
        height: 330px;
    }
}

@media (max-width: 600px) {
    .container-azul{
        width: 400px;
    }
    .container-branco{
        width: 390px;
    }
    #alternativa{
        width: 350px;
    }
    .form-select{
        width: 360px;
        margin-right: 0%;
    }
    .container-filtro {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .container-azul{
        width: 320px;
    }
    .container-branco{
        width: 310px;
    }   
    #alternativa{
        width: 270px;
    }
    .form-select{
        width: 280px;
    }
    .container-filtro {
        width: 320px;
    }

    .questao_texto,.questao_enunciado, #alternativa{
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .container-azul{
        width: 225px;
    }
    .container-branco{
        width: 215px;
    }   
    #alternativa{
        width: 180px;
    }
    .form-select{
        width: 200px;
    }
    .container-filtro {
        width: 225px;
    }

    .questao_texto,.questao_enunciado, #alternativa{
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .container-azul{
        width: 200px;
    }
    .container-branco{
        width: 190px;
    }   
    #alternativa{
        width: 155px;
    }
    .form-select{
        width: 175px;
    }
    .container-filtro {
        width: 200px;
    }
    .questao_texto,.questao_enunciado, #alternativa{
        font-size: 10px;
    }
}