.main{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    align-items: flex-start;
}


.container-azul{
    
    background: rgba(45, 130, 181, 0.30);
    width: 950px;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.central{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-branco{
    background: #ffffff;
    width: 900px;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.container-filtro{
    text-align: center;
    width: 230px;
    height: 350px;
    background: rgb(217, 217, 217, 0.48);
    border-radius: 50px;
    padding: 20px; 
    margin-left: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#alternativa{
    background: rgb(45, 130, 181, 0.30);
    border-radius: 20px;
    max-width: 800px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    display: block;
    text-align: justify;
    padding: 10px; 
}

.btn-outline-primary{
    text-align: justify;
    width: calc(100% - 100px)
}

.instituicao_ano{
    text-align: center;
    
}

.title-questoes{
    text-align: center;
    padding: 20px;
}

.questao_texto{
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul{
    list-style: none;
}

.id_questao{
    text-decoration: none;
    color: black;
}

.questao{
    list-style-type: none;
}

.questao_enunciado{
    margin-bottom: 15px;
    text-align: justify;
}


.form-select{
    border-radius: 50px;
    width: 190px;
    padding: 10px;
}

.filtros-font{
    font-size: 25px;
}

.visually-hidden{
    text-align:justify;
}

.dados {
    display: flex;
    justify-content: center;
}

.filtro{
    text-align: center;
    font-size: 25px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* Estilo da accordion-item */
.borda{    
    width: 500px;
    margin: 20px;
    border-radius: 50px 50px 0px 50px !important;
    height: auto;
    padding: 20px;
    width: 470px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    
}
.accordion-item {
    position: relative; /* Adicione posição relativa para alinhar a linha */
    border: none;
}

.accordion-button {
    border: none !important;
    height: 20px;
    width: 400px;
    z-index: 0;
    background-color: transparent; /* Defina o botão como transparente */
    font-size: 20px;
}

.accordion-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px; /* Largura da linha */
    background-color: #d6e8ee; /* Cor quando fechado */
    z-index: 1;
    transition: background-color 0.3s ease; /* Transição suave da cor */
}

/* Estilo da linha à esquerda quando .open está presente */
.accordion-item.open::before {
    background-color: #001b48; /* Cor quando aberto */
}

/* Estilo da linha à esquerda quando fechado */
.accordion-item:not(.open)::before {
    background-color: #d6e8ee; /* Cor quando fechado */
}

/* Estilo do botão do acordeão */
.accordion-button:focus,
.accordion-button:hover,
.accordion-button:not(.collapsed) {
    border: none; /* Remova a borda */
    outline: none; /* Remova o contorno */
    box-shadow: none; /* Remova a sombra */
    background-color: transparent;
    /* Defina outras propriedades personalizadas, se necessário */
}

.accordion-button::after {
    width: 0;
}


button{
    border-radius: 100px;
    border: 5px solid #001B48;
    background: rgba(217, 217, 217, 0);
    width: 150px;
    height: 50px;
    margin: auto;
    display:block;
}
.responder button{
    margin: auto;
    text-decoration: none;
    color: #001B48;
    font-size: 20px;
}

.responder{
    text-align: center;
}

.filtrar button{
    text-decoration: none;
    color: #001B48;
    font-size: 20px;
}

.filtrar{
    text-align: center;
}

.filtro-nome{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}