{% extends 'base.html' %}
{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'pomodoro\css\indexpomodoro.css' %}">
<script src="{% static 'pomodoro/js/pomodoro.js' %}"></script>
{% endblock %}

{% block content %}

<br>
<br>
<br>
<div class="d-flex justify-content-center">

    <div class="mt-5 row align-items-center">

        <div class="col">
            <h1 class="h1pomodoro">Pomodoro</h1>
            <p class="textpomodoro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
        </div>

        <div class="col">
            <img class="imgpomodoro" src="{% static 'pomodoro/img/Deadline-pana (1).svg' %}" alt="">
            
        </div>
    </div>

</div>

<br>
<br>

<h1 class="d-flex justify-content-center mt-5">Etapas de um Pomodoro</h1>
<br>
<br>
<div class="etapaspomodoro">
    <div class="etapa">
        <h3 class="titlepasso">Passo 1</h3>
        <p class="etapasconteudo">gttttttttttttttttttttttttttttttLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
    </div>
    <div class="etapa">
        <h3 class="titlepasso">Passo 2</h3>
        <p class="etapasconteudo">gttttttttttttttttttttttttttttttLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
    </div>
    <div class="etapa">
        <h3 class="titlepasso">Passo 3</h3>
        <p class="etapasconteudo">gttttttttttttttttttttttttttttttLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
    </div>
</div>

<br>
<br>
<br>
<br>

<h1 class="d-flex justify-content-center mt-5">Faça o seu pomodoro</h1>
<br>
<br>
<div class="container">
    {% include 'pomodoro/partials/pomodoro.html' %}
</div>
<br>
<br>
{% endblock %}