{% extends "revisao/base2.html" %}
{% block title %} teste{% endblock title %}
{% block content %}
<h1>calendar</h1>
<div style="width: 50%;">    
    <div id='calendar'></div> 
</div> 
 
<hr>

<h1>Próximas Revisões Agendadas</h1>
    <ul>
        {% for revisao in todas_revisoes %}
            <li>{{ revisao.flashcard.titulo }} - Data: {{ revisao.data_agendada|date:"Y-m-d" }}</li>
        {% empty %}
            <li>Não há próximas revisões agendadas.</li>
        {% endfor %}
    </ul>

<hr>

<h1>Revisões do Dia</h1>
    <ul>
        {% for revisao in revisoes_do_dia %}
            <li>{{ revisao.flashcard.titulo }}</li>
        {% endfor %}
    </ul>

<h1>Revisões Pendentes</h1>
    <ul>
        {% for revisao in revisoes_pendentes %}
            <li>{{ revisao.flashcard.titulo }}</li>
        {% endfor %}
    </ul>

<hr>



{% endblock content %}