{% extends "core/partials/base.html" %}
{% load static %}


{% block title %} calendario{% endblock title %}
{% block head%} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/pt-br.js"></script>

{% endblock %}

{% block linkc%} ativo {% endblock %}

{% block content %}

<div class="container mt-5 calen">    
    <div id='calendario'></div> 
</div> 
 



<script>
    $(document).ready(function () {
        var calendar = $('#calendario').fullCalendar({
            header: {
                left: 'prev,next,today, list',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: '{% url "calendar" %}',
            locale: 'pt-br'

        });
    });
</script>


{% endblock content %}