{% extends 'core/partials/base.html' %}
{% load static %}



{% block head %}

<style>
    .centro{
        max-width: 95% !important;
    }
</style>
{% endblock %}


{% block linkf%} ativo {% endblock %}

{% block title%} Meus Flashcards{% endblock %}

{% block content %}

<div class="tflash mt-4">
    <h1>Meus Flashcards</h1>
</div>


<div>
    <button type="button" class="buttonf" data-bs-toggle="modal" data-bs-target="#myModal">
        + Adicionar novos Flashcards
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modalform ">

            <div class="modal-content d-flex">

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}

                    <div class="d-flex">
                        <input class="titulof" placeholder="Título" type="text" name="titulo" maxlength="150"
                            id="id_titulo">
                    </div>

                    {{ form.content }}


                    <div class="d-flex justify-content-center divsalvar">
                        <button class="salvar" type="submit">Enviar</button>
                    </div>

                </form>
 
            </div>
        </div>
    </div>



</div>







<div class="">


    <div class="d-flex justify-content-center row">
        {% for flashcards in flashcards %}



        <div class="flashcards">
            <div class="tituloflash"> 
                <h4><a href="#" data-bs-toggle="modal"
                        data-bs-target="#flashcardModal{{ flashcards.id }}">{{flashcards.titulo }}</a></h4>
            </div>


            <div class="bflash">

                <div class="mais">
                    <a href="{% url 'remover' flashcards.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash"
                            viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                            <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                        </svg>
                    </a>
                    <a href="{% url 'flashcard_editar' flashcards.id  %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pen"
                            viewBox="0 0 16 16">
                            <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                    </a>
                </div>


                <div class="dataflash">
                    <p> {{ flashcards.data|date:"d/m/Y" }}</p>
                </div>
            </div>


        </div>

        <div class="modal fade" id="flashcardModal{{ flashcards.id }}" tabindex="-1"
            aria-labelledby="flashcardLabel{{ flashcards.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modalform">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="flashcardLabel{{ flashcards.id }}">{{ flashcards.titulo }}</h5>
                    </div>
                    <div class="modal-body">
                        <div>{{ flashcards.content.html|safe }}</div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}