{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Revisão</title>
  <link rel="stylesheet" href="{% static 'revisao\css\revisao.css' %}">
  <link rel="stylesheet" href="{% static 'core\css\dashboard.css' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">

</head>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<body>
  <div class="rfade">
    <a href="{% url 'dashboard' %}"></a>
  </div>

  <div class="rmodal-container">
    <div class="rmodal">
      <h1>{{ detalhes.titulo }}</h1>
      <hr>


      <p>{{ detalhes.content.html|safe }}</p>

      <div class="bcpa">

        <div>
          {% if anterior_id %}
          <a class="bantprox ant" href="{% url 'detalhes_flashcard' id=anterior_id %}"> Anterior</a>
          {% else %}
          <a class="bantprox ant" href="">Anterior</a>
          {% endif %}
        </div>


        <div class="rconcluida">
          {% if revisao.data_agendada <= data%} 
            {% if revisao %} 
              <form method="post" class="p-3">
                {% csrf_token %}
                <button class="bconcluida" type="submit" name="revisao_concluida">Revisão Concluída</button>
            </form>
              </form>
            {% endif %}
          {% endif %}
        </div>

        <div>
          {% if proximo_id %}
            <a class="bantprox prox" href="{% url 'detalhes_flashcard' id=proximo_id %}">Próximo</a>
          {% else %}
            <a class="bantprox prox" href="">Próximo</a>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
</body>

</html>