{% extends 'core/partials/base.html' %}
{% load static %}

{% block content %}


<div class="d-flex align-items-center justify-content-center">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Abrir Modal
  </button>

  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modalform ">

      <div class="modal-content d-flex">

        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}

          <div class="d-flex">
            <input class="titulof" placeholder="Título" type="text" name="titulo" maxlength="150" required=""
              id="id_titulo">
          </div>

          {{ form.content }}

          
          <div class="d-flex justify-content-center divsalvar">
            <button class="salvar" type="submit">Enviar</button>
          </div>

        </form>

      </div>
    </div>
  </div>


</div>
{% endblock %}