
        <canvas id="Chart" width="380" height="300"></canvas>

 
    <script>
        var ctz = document.getElementById('Chart').getContext('2d');
        var date = JSON.parse('{{ dados_revisoes|safe|escapejs }}');

        var chart = new Chart(ctz, {
            type: 'line',
            data: {
                labels: date.dias,
                datasets: [{
                    label: 'Revisões Concluídas',
                    data: date.revisoes,
                    backgroundColor: 'rgba(2, 69, 119, 0.7)',
                    borderColor: 'rgba(2, 69, 119, 1)',
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                        },
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0,
                        },
                    },
                },
            },
            
        });
        
    </script>

