
    <div>
        <canvas id="Chart"></canvas>
    </div>


    <script>
        var ctz = document.getElementById('Chart').getContext('2d');
        var date = JSON.parse('{{ serialized_data|safe|escapejs }}');

        var chart = new Chart(ctz, {
            type: 'line',
            data: {
                labels: date.weekdays,
                datasets: [{
                    label: 'Revisões Concluídas por Dia da Semana',
                    data: date.revisoes,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Dia da Semana',
                        },
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Revisões Concluídas',
                        },
                        ticks: {
                            precision: 0,
                        },
                    },
                },
            },
        });
    </script>
